a, a:active, a:visited {
color:#c31d25;	
}
a:hover {
color:#c31d25;	
}


.ribbon {
	background:url(../../img/grad-red.gif) repeat-x center top #8f1e14;
	border:1px solid #6f1811;
	color:#FFFFFF;
	text-shadow:0 -1px 0 #6f1811;
}
.triangle-ribbon {
border-color:transparent #5c130d transparent transparent;
}



.sidebar-nav li.current {
background:url(../../img/grad-red.gif) repeat-x center top #8f1e14;
border:1px solid #6f1811;
}

